{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/nomina_pdf.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'img/logo.png' %}" class="logo">
        <h1>EventSync</h1>
        <p><strong>Desprendible de Nómina</strong></p>
    </div>

    <table>
        <tr><th>Empleado</th><td>{{ nomina.empleado.nombre }}</td></tr>
        <tr><th>Documento</th><td>{{ nomina.empleado.documento }}</td></tr>
        <tr><th>Período</th><td>{{ nomina.periodo_inicio }} al {{ nomina.periodo_fin }}</td></tr>
    </table>

    <table>
        <tr><th>Concepto</th><th>Valor</th></tr>
        <tr><td>Salario Base</td><td>${{ nomina.salario_base }}</td></tr>
        <tr><td>Bonificaciones</td><td>${{ nomina.bonificaciones }}</td></tr>
        <tr><td>Deducciones</td><td>-${{ nomina.deducciones }}</td></tr>
        <tr class="total"><td>Salario Neto</td><td>${{ nomina.salario_neto }}</td></tr>
    </table>

    <p style="margin-top: 40px; text-align: right;">_____________________<br>Firma del responsable</p>
</body>
</html>
